ion-content ion-toolbar {
    --background: translucent;
  }
  
  .table-layout {
    table-layout: fixed;
    width: 100%;
    margin-top: 80px;
  }
  .table-layout th{
    padding-top: 10px;
  }
  .table-layout td{
    text-align: center;
  }
  
  .table-layout2{
    table-layout: fixed;
    width: 100%;
    margin-top: 30px;
  }
  
  .table-layout2 th{
    padding-bottom: 10px;
  }
  .table-layout2 td{
    text-align: center;
  }
  
  .weather-layout{
    text-align: center;
    padding-top: 50px;
  }
  
  