

<ion-content [ngClass]="background">
  <div class="weather-layout"> 
    <h4>{{weatherData.name}}, {{weatherData.region}},</h4>
    <h4>{{weatherData.country}}</h4>
    <img src="{{weatherData.conditionIcon}}" width="100" height="100">
    <h4>{{weatherData.conditionText}}</h4>
    <h4>{{weatherData.temp_c}}</h4>
    <p>Feels Like {{weatherData.feelsLike_c}} </p>
  </div>

  <table class="table-layout">
    <tr>
      <th>Humidity</th>
      <th>UV Index</th>
    </tr>
    <tr>
      <td><p>{{weatherData.humidity}}</p></td>
      <td><p>{{weatherData.uvIndex}}</p></td>
    </tr>
  </table>
  <table class="table-layout2">
    <tr>
      <th>Pressure</th>
      <th>Wind Direction</th>
    </tr>
    <tr>
      <td>{{weatherData.pressure_mb}}mb</td>
      <td>{{weatherData.wind_direction}}</td>
    </tr>
  </table>
  <table class="table-layout2">
    <tr>
      <th>Local Time</th>
    </tr>
    <tr>
      <td>{{weatherData.localtime}}</td>
    </tr>
  </table>






</ion-content>
